@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&family=Roboto:ital,wght@0,300;1,400;1,500&display=swap');


*{
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Roboto', sans-serif;
}


:root{
  --primary-color:#5250e5;
  --secondary-color:#ffffff;
  --tritery-color:#f5f7fa;
  --font-color:#49486d;

  /* font sizes */
  --small-font-size:1.2rem;
  --medium-font-size:1.4rem;
  --large-font-size:1.6rem;
}


.sideNav{
  background:var(--secondary-color);
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
main{
  padding-left: 250px;
  background: var(--tritery-color);
  height: 100vh;
  overflow-x:hidden;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.small{
  font-size: var(--small-font-size);
  font-weight: 600;
}


.medium{
  font-size: var(--medium-font-size);
  font-weight: 700;
}


.large{
  font-size: var(--large-font-size);
  font-weight: 700;
}

.t-primary{
  color: var(--primary-color);
}

.bg-t{
  background: var(--tritery-color) !important;
}
.b-primary{
  background: var(--secondary-color) !important;
}

.b-secondary{
  background-color: var(--primary-color);
}

.t-color{
  color: var(--font-color);
}